services:
  app:
    build: .
    tty: true
    ports:
      - 3000:3000
    volumes:
      - .:/app
      - bundle_data:/usr/local/bundle
      - ./.vimrc:/root/.vimrc
    command: >
      bash -c "rm -f tmp/pids/server.pid &&
      bundle install &&
      rails s -b 0.0.0.0"

volumes:
  bundle_data:
